th,td { 
    text-align: center;
}

line { 
  
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    width:          1px;       
}

.search-input{
    width: 500px;
}

body{
    background-image: url('../images/bg1.png');
}

#header{
    background-color:aliceblue;
}



.layer {
    background-color: rgba(255, 255, 255, 0.7);
    height: 100vh;
}
