<div class="d-flex justify-content-evenly" style="margin-top: 140px;">
    <div class="dropdown mx-5">
        <button type="button" class="btn dropdown-toggle py-5 fw-bold" data-bs-toggle="dropdown" aria-expanded="false"
            style="background-color: #F4F4F4 ; font-size: 20px; border-radius: 20px; border-color: #D9D9D9; width: 200px;">
            Lớp 10
        </button>
        <div class="dropdown-menu" id="semestermenu-dropdown"
            style="width: 200px; border-radius: 10px; margin-top: 10px;">
            <a class="btn dropdown-item" href="/class/10A1" style="font-size: 18px; text-align: center;">
                10A1</a>
            <a class="btn dropdown-item" href="#" style="font-size: 18px; text-align: center;">
                10A2</a>
        </div>
    </div>
    <div class="dropdown mx-5">
        <button type="button" class="btn dropdown-toggle p-5 fw-bold" data-bs-toggle="dropdown" aria-expanded="false"
            style="background-color: #F4F4F4 ; font-size: 20px; border-radius: 20px; border-color: #D9D9D9; width: 200px;">
            Lớp 11
        </button>
        <div class="dropdown-menu" id="semestermenu-dropdown"
            style="width: 200px; border-radius: 10px; margin-top: 10px;">
            <a class="btn dropdown-item" href="#" style="font-size: 18px; text-align: center;">
                11A1</a>
            <a class="btn dropdown-item" href="#" style="font-size: 18px; text-align: center;">
                11A2</a>
        </div>
    </div>
    <div class="dropdown mx-5">
        <button type="button" class="btn dropdown-toggle p-5 fw-bold" data-bs-toggle="dropdown" aria-expanded="false"
            style="background-color: #F4F4F4 ; font-size: 20px; border-radius: 20px; border-color: #D9D9D9; width: 200px;">
            Lớp 12
        </button>
        <div class="dropdown-menu" id="semestermenu-dropdown"
            style="width: 200px; border-radius: 10px; margin-top: 10px;">
            <a class="btn dropdown-item" href="#" style="font-size: 18px; text-align: center;">
                12A1</a>
            <a class="btn dropdown-item" href="#" style="font-size: 18px; text-align: center;">
                12A2</a>
        </div>
    </div>
</div>

<div class="text-end me-5">
    <button type="button" class="btn btn-success"
        style="font-weight: bold; width:150px; position: fixed; bottom: 20px; right: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <i class="fas fa-plus"></i>  Thêm lớp
    </button>
</div>