<div>
    <h5 class="card py-2 shadow-sm" style="width: 200px; text-align: center; margin: 15px auto; border-radius: 10px;">
        {{ClassName}}</h5></span>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Danh sách học sinh</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"></a>
            </li>
        </ul>
    </div>
</div>