
<h5 class="card py-2 shadow-sm" id="checkAddYear" value={{title}} style="width: 400px; text-align: center; margin: 15px auto; border-radius: 10px;">
    {{title}}</h5></span>

<div class="card shadow" style="border: 1px solid #D9D9D9; max-width: 60%; padding-bottom: 30px; margin: 20px auto;
    padding-inline: 50px; padding-top: 30px;">
    {{>regulations regulation=regulation}}
</div>