<div>
    <h5 class="card py-2 shadow-sm" style="width: 400px; text-align: center; margin: 15px auto; border-radius: 10px;">
        BÁO CÁO TỔNG KẾT HỌC KỲ</h5>
    <div class="d-flex justify-content-center">
        <div class="d-flex">
            <div class="mt-1" style="font-size: 13px;">Học kỳ: </div>
            {{!-- <div class="dropdown mx-2">
                <button type="button" class="btn dropdown-toggle py-1 fw-bold" data-bs-toggle="dropdown"
                    aria-expanded="false" style="background-color: #F4F4F4 ; font-size: 13px; border-radius: 20px; border-color: #D9D9D9;
                    width: 200px;">
                </button>
                <div class="dropdown-menu dropdown-menu-end" id="coursemenu-dropdown" style="width: 200px;">
                    <button class="dropdown-item active" onclick="changeItem_DD(this)"
                        style="font-size: 12px; text-align: center;">Anh văn</button>
                    <button class="dropdown-item" onclick="changeItem_DD(this)"
                        style="font-size: 12px; text-align: center;">Ngữ văn</button>
                    <button class="dropdown-item" onclick="changeItem_DD(this)"
                        style="font-size: 12px; text-align: center;">Thể dục</button>
                </div>
            </div> --}}
            <div class="mx-2">
                <select class="py-1 fw-bold" aria-label=".form-select-lg example" style="background-color: #F4F4F4 ; font-size: 13px; border-radius: 20px; border-color: #D9D9D9; 
                    width: 200px; text-align: center;">
                    <option value="" selected style="font-size: 13px;">Học kì 1</option>
                    <option value="" style="font-size: 13px;">Học kì 2</option>
                    <option value="" style="font-size: 13px;">Cả năm</option>
                </select>
            </div>
        </div>

        <div class="text-end me-5">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modify-class-name"
                style="font-weight: bold; width:150px; position: fixed; top: 130px; right: 50px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                Chỉnh sửa
            </button>
        </div>
    </div>
    <div class="card my-3 mx-5" style="background-color: #D9D9D9; height: 510px; border-radius: 10px;">
        <div class="table-responsive px-3 py-2 m-4"
            style="background-color: white; border-radius: 10px; height: 500px;">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Lớp</th>
                        <th scope="col">Sĩ số</th>
                        <th scope="col">Số lượng đạt</th>
                        <th scope="col">Tỷ lệ</th>
                    </tr>
                </thead>
                <tbody data-bs-spy="scroll" data-bs-smooth-scroll="true">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td colspan="2">@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>