
<div>

    <h5 class="card py-2 shadow-sm" style="width: 400px; text-align: center; margin: 15px auto; border-radius: 10px;">
        BÁO CÁO TỔNG KẾT MÔN</h5>
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-center" style="width: 90%;">
            <div class="d-flex" style="margin-right: 350px;">
                <div class="mt-1" style="font-size: 13px;">Khối: </div>
                <div class="mx-2">
                    <select id="select_sum_subject_grade" name="select_grade" class="py-1 fw-bold"
                        aria-label=".form-select-lg example" style="background-color: #F4F4F4 ; font-size: 13px; border-radius: 20px; border-color: #D9D9D9;
                    width: 100px;">
                        <option class="text-center" value="all" selected style="font-size: 13px;">Tất cả</option>
                        <option class="text-center" value="10" style="font-size: 13px;">10</option>
                        <option class="text-center" value="11" style="font-size: 13px;">11</option>
                        <option class="text-center" value="12" style="font-size: 13px;">12</option>
                    </select>
                </div>
            </div>
            <div class="d-flex">
                <div class="mt-1" style="font-size: 13px;">Môn học: </div>

                <div class="mx-2">
                    <select id="select_sum_subject_name" name="select_subject" class="py-1 fw-bold"
                        aria-label=".form-select-lg example" style="background-color: #F4F4F4 ; font-size: 13px; border-radius: 20px; border-color: #D9D9D9; 
                    width: 200px; text-align: center;">
                        {{#each listCourse}}
                        <option value="{{this.name}}" {{#if @first}}selected{{/if}} style="font-size: 13px;">
                            {{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card my-2 mx-5" style="background-color: #D9D9D9; height: 510px; border-radius: 10px;">
        <div class="table-responsive px-3 py-2 m-4"
            style="background-color: white; border-radius: 10px; height: 500px;">
            <table class="table table-sm table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Lớp</th>
                        <th scope="col">Sĩ số</th>
                        <th scope="col">Số lượng đạt</th>
                        <th scope="col">Tỷ lệ</th>
                    </tr>
                </thead>
                <tbody id = "summarytable" data-bs-spy="scroll" data-bs-smooth-scroll="true">

                </tbody>
            </table>
        </div>

    </div>
    <script defer src="/js/subject/tongketmonhoc.js"></script>
</div>


